@import url("https://fonts.googleapis.com/css?family=Raleway:400,700,900");
html {
  overflow-x: hidden; }
  @media (max-width: 575.98px) {
    html {
      font-size: 55%; } }
  @media (min-width: 576px) and (max-width: 767.98px) {
    html {
      font-size: 58%; } }
  @media (min-width: 768px) and (max-width: 991.98px) {
    html {
      font-size: 60%; } }
  @media (min-width: 992px) and (max-width: 1199.98px) {
    html {
      font-size: 62.5%; } }
  @media (min-width: 1200px) {
    html {
      font-size: 62.5%; } }

body {
  font-size: 1.6rem;
  line-height: 1.5;
  font-weight: 300;
  overflow-x: hidden !important;
  font-family: 'Raleway', sans-serif; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: bold;
  font-family: 'Raleway', sans-serif; }

h1, h2, h3, h4, h5, h6, p {
  line-height: 1.5; }

h1 {
  font-size: 5.4rem;
  font-weight: 900; }

h2 {
  font-size: 4rem;
  font-weight: 900; }

a {
  color: #D95444;
  font-weight: bold; }
  a:hover {
    color: #D95444;
    text-decoration: none;
    filter: brightness(120%); }

article.section, article.home-intro, article.home-info, article.footer {
  padding-top: 8rem;
  padding-bottom: 8rem;
  background-color: white; }

@keyframes fade-in {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes jump-in {
  from {
    bottom: -4rem;
    opacity: 0; }
  to {
    bottom: 0rem;
    opacity: 1; } }

@keyframes apple-bg {
  from {
    bottom: -16rem;
    opacity: 0; }
  to {
    bottom: -8rem;
    opacity: .2; } }

a.button {
  background-color: #888888;
  padding: 1rem 2.8rem;
  color: white;
  transition: ease background-color .3s;
  display: inline-block;
  font-weight: 900; }
  a.button.button-red {
    background-color: #D95444; }
  a.button:hover {
    text-decoration: none;
    filter: brightness(120%); }

article.nav {
  padding-top: 2rem; }
  article.nav img.logo {
    height: 5rem; }
  article.nav ul {
    padding-left: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between; }
  article.nav li {
    display: inline-block;
    margin-left: 3.2rem; }
    article.nav li a {
      font-weight: bold;
      color: #888888; }
      article.nav li a.red {
        color: #D95444; }
      article.nav li a.active {
        color: #000000; }
      article.nav li a:hover {
        filter: brightness(140%); }
    article.nav li:first-child {
      margin-left: 0rem;
      flex: 1; }

article.hero h1.animate, article.hero p.animate, article.hero a.button.animate {
  opacity: 0;
  position: relative;
  animation: jump-in .5s 1;
  animation-fill-mode: forwards;
  animation-timing-function: ease; }

article.hero {
  position: relative;
  padding: 14rem 1.5rem 16rem; }
  article.hero h1, article.hero h3 {
    margin-bottom: 2rem; }
  article.hero h1 {
    opacity: 0; }
  article.hero p {
    opacity: 0;
    margin-bottom: 4rem; }
    article.hero p.animate {
      animation-delay: .2s; }
  article.hero h3 {
    font-size: 1.6rem;
    font-weight: 900;
    color: #888888;
    text-transform: uppercase; }
  article.hero img.apple-bg {
    position: absolute;
    z-index: -1;
    bottom: -8rem;
    right: -2rem;
    opacity: 0; }
    article.hero img.apple-bg.animate {
      animation: apple-bg .5s 1;
      animation-delay: .4s;
      animation-timing-function: ease;
      animation-fill-mode: forwards; }
  article.hero a.button {
    opacity: 0;
    margin-right: 1rem; }
    article.hero a.button.animate {
      animation-delay: .3s; }

article.home-intro {
  background-color: #D95444;
  color: white; }
  article.home-intro h4 {
    font-size: 2rem; }

span.divider {
  margin-top: 2.4rem;
  margin-bottom: 3rem;
  width: 2rem;
  display: block;
  background-color: #888888;
  height: .2rem; }
  span.divider.right {
    margin-right: 0;
    margin-left: auto; }
  span.divider.white {
    background-color: white; }

article.home-info p {
  margin-bottom: 8rem; }

article.footer {
  background-color: #D95444;
  color: white; }
  article.footer span.info {
    font-size: 2rem;
    margin-left: 2rem; }
  article.footer p {
    margin-bottom: 4rem; }
  article.footer img {
    width: 1.5rem;
    fill: white; }
