@import 'vars';
@import 'base';
@import 'animation';

a.button {
  background-color: $grey;
  padding: 1rem 2.8rem;
  color: white;
  transition: ease background-color .3s;
  display: inline-block;
  font-weight: $font-black;
  &.button-red {
    background-color: $red;
  }
  &:hover {
    text-decoration: none;
    filter: brightness(120%);
  }
}

article.nav {
  padding-top: 2rem;

  .container {

  }
  img.logo {
    height: 5rem;
  }
  ul {
    padding-left: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  li {
    display: inline-block;
    margin-left: 3.2rem;
    a {
      font-weight: $font-bold;
      color: $grey;
      &.red {
        color: $red;
      }
      &.active {
        color: $black;
      }
      &:hover {
        filter: brightness(140%);
      }
    }
    &:first-child {
      margin-left: 0rem;
      flex: 1;
    }
  }
}

%jump-in {
  opacity: 0;
  position: relative;
  animation: jump-in .5s 1;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
}

article.hero {
  // background-color: black;
  position: relative;
  padding: 14rem 1.5rem 16rem;
  h1, h3 {
    margin-bottom: 2rem;
  }
  h1 {
    @extend %jump-in;
  }
  p {
    @extend %jump-in;
    animation-delay: .2s;
    margin-bottom: 4rem;
  }
  h3 {
    font-size: 1.6rem;
    font-weight: $font-black;
    color: $grey;
    text-transform: uppercase;
  }
  img.apple-bg {
    animation: apple-bg .5s 1;
    animation-delay: .4s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    position: absolute;
    z-index: -1;
    bottom: -8rem;
    right: -2rem;
    opacity: 0;
  }
  a.button {
    @extend %jump-in;
    margin-right: 1rem;
    animation-delay: .3s;
  }
}

article.home-intro {
  @extend article.section;
  background-color: $red;
  color: white;
  h4 {
    font-size: 2rem;
  }
}

span.divider {
  margin-top: 2.4rem;
  margin-bottom: 3rem;
  width: 2rem;
  display: block;
  background-color: $grey;
  height: .2rem;
  &.right {
    margin-right: 0;
    margin-left: auto;
  }
  &.white {
    background-color: white;
  }
}

article.home-info {
  @extend article.section;
  p {
    margin-bottom: 8rem;
  }
}

article.footer {
  @extend article.section;
  background-color: $red;
  color: white;
  span.info {
    font-size: 2rem;
    margin-left: 2rem;
  }
  p {
    margin-bottom: 4rem;
  }
  img {
    width: 1.5rem;
    fill: white;
  }
}
