@import 'vars';
@import 'base';
@import 'animation';

a.button {
  background-color: $grey;
  padding: 1rem 2.4rem;
  color: white;
  border-radius: 4px;
  transition: ease filter .3s;
  display: inline-block;
  font-weight: $font-bold;
  &.button-red {
    background-color: $red;
  }
  &:hover {
    text-decoration: none;
    filter: brightness(120%);
  }
  &:active {
    text-decoration: none;
    filter: brightness(80%);
  }
  &.caret {
    padding-right: 3.6rem;
    position: relative;
    &::after {
      content: ' ';
      position: absolute;
      right: 1.6rem;
      top: 50%;
      margin-top: -2px;
      width: 0;
      height: 0;
      border-left: 4px solid transparent;
      border-right: 4px solid transparent;

      border-top: 4px solid white;
    }
  }
}

article.nav {
  padding-top: 2rem;

  .container {

  }
  img.logo {
    height: 5rem;
  }
  .logo-link {
    transition: ease all .3s;
    &:hover {
      filter: none;
      opacity: .7;
    }
    &:active {
      filter: none;
    }
  }
  ul {
    padding-left: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  li {
    display: inline-block;
    margin-left: 3.2rem;
    a {
      font-weight: $font-bold;
      color: $grey;
      &.red {
        color: $red;
      }
      &.active {
        color: $black;
      }
      &:hover {
        filter: brightness(140%);
      }
    }
    &:first-child {
      margin-left: 0rem;
      flex: 1;
    }
  }
}

%jump-in {
  opacity: 0;
  position: relative;
  animation: jump-in .5s 1;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
}

article.hero {
  // background-color: black;
  position: relative;
  padding: 14rem 1.5rem 16rem;
  h1, h3 {
    margin-bottom: 2rem;
  }
  h1 {
    // &.animate {
    //   @extend %jump-in;
    // }
  }
  p {
    // &.animate {
    //   animation-delay: .2s;
    //   @extend %jump-in;
    // }
    margin-bottom: 4rem;
  }
  h3 {
    font-size: 1.6rem;
    font-weight: $font-black;
    color: $grey;
    text-transform: uppercase;
  }
  img.apple-bg {
    position: absolute;
    z-index: -1;
    bottom: -8rem;
    right: -2rem;
    opacity: .2;
    // &.animate {
    //   animation: apple-bg .5s 1;
    //   animation-delay: .4s;
    //   animation-timing-function: ease;
    //   animation-fill-mode: forwards;
    // }
  }
  a.button {
    // &.animate {
    //   animation-delay: .3s;
    //   @extend %jump-in;
    // }
    margin-right: 1rem;
  }
}

article.subpage-hero {
  padding: 14rem 0rem 0rem;

}

article.home-intro {
  @extend article.section;
  background-color: $red;
  color: white;
  h4 {
    font-size: 2rem;
  }
}

span.divider {
  margin-top: 2.4rem;
  margin-bottom: 3rem;
  width: 2rem;
  display: block;
  background-color: $grey;
  height: .2rem;
  &.right {
    margin-right: 0;
    margin-left: auto;
  }
  &.white {
    background-color: white;
  }
}

article.home-info {
  @extend article.section;
  p {
    margin-bottom: 8rem;
  }
}

article.faq {
  @extend article.section;
  p, ul {
    margin-bottom: 4rem;
  }
}

article.catalog {

  article.top {
    h1 {
      padding-bottom: 4rem;
    }
  }

  article.bottom {
    padding-bottom: 6rem;
    div.class {
      padding-top: 2rem;
      padding-bottom: 2rem;
      border-bottom: 1px solid #e3e3e3;
      p {
        margin-bottom: 0;
      }
      h2 {
        font-size: 2.6rem;
        margin-bottom: 1rem;
      }
      .heading {
        font-weight: bold;
      }
      &:last-child {
        border-bottom: none;
      }
    }
  }

  // .sticky + .bottom {
  //   padding-top: 197px;
  // }

  article.catalog-settings {
    // @extend article.section;
    padding-top: 2rem;
    padding-bottom: 1rem; // 1 more rem from each button
    transition: ease box-shadow .3s;
    &.sticky {
      position: fixed;
      top: 0;
      width: 100%;
      background-color: white;
      z-index: 1;
      -webkit-box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.1);
      -moz-box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.1);
      box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.1);
    }
    .search-input {
      font-weight: $font-bold;
      background-color: white;
      border-radius: 0px;
      border: none;
      transition: ease border-color .3s;
      border-bottom: 2px solid #e3e3e3;
      padding-bottom: 1rem;
      width: 100%;
      &:hover {
        border-color: #808080;
      }
      &:active, &:focus {
        outline: none;
        border-color: $black;
      }
    }
    div.options {
      display: flex;
      justify-content: space-between;
      padding-top: 2rem;
      .button {
        color: white;
        margin-bottom: 1rem;
      }

      .dropdown {
          position: relative;
          display: inline-block;
      }

      .dropdown-content {
          display: none;
          position: absolute;
          border-radius: 4px;
          right: 0;
          background-color: white;
          color: $red;
          overflow: hidden;
          min-width: 16rem;
          -webkit-box-shadow: 0px 2px 12px 0px rgba(0,0,0,0.1);
          -moz-box-shadow: 0px 2px 12px 0px rgba(0,0,0,0.1);
          box-shadow: 0px 2px 12px 0px rgba(0,0,0,0.1);
          z-index: 1;
      }

      .dropdown-content a {
          color: $grey;
          padding: 12px 16px;
          text-decoration: none;
          display: block;
      }

      .dropdown-content a:hover {
        background-color: $red;
        color: white;
        filter: none;
      }

      .dropdown:hover .dropdown-content {
          display: block;
      }

      .dropdown:hover .dropbtn {
        text-decoration: none;
        filter: brightness(80%);
      }
    }

  }
}

article.contact {
  @extend article.section;
  background-color: $red;
  color: white;
  .divider {
    background-color: white;
  }
  p {
    font-size: 2rem;
    margin-bottom: 4rem;
    margin-top: 2rem;
  }
  img {
    height: 2rem;
    margin-right: 1rem;
    margin-left: 1rem;
  }
}

article.footer {
  background-color: black;
  padding-top: 2rem;
  padding-bottom: 2rem;
  text-align: center;
  p {
    margin: 0;
    color: white;
    opacity: .6;
  }
}


// SPINNER
.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7 1.8s infinite ease-in-out;
  animation: load7 1.8s infinite ease-in-out;
}
.loader {
  color: #e3e3e3;
  font-size: 10px;
  margin: 80px auto;
  position: relative;
  text-indent: -9999em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  content: '';
  position: absolute;
  top: 0;
}
.loader:before {
  left: -3.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 3.5em;
}
@-webkit-keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
@keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
